@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #e8e8e8;
  --sb-thumb-color: #5a5d5c;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  border: 1px solid #bfbfbf;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White background */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 217 91.3% 59.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  
  [data-theme="white"] {
    --background: 0 0% 100%; /* White background */
    --foreground: 240 10% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 5px;
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  /* headings */
  .heading-1 {
    @apply p-2 font-extrabold lg:text-5xl text-4xl;
  }
  .heading-2 {
    @apply p-2 font-extrabold lg:text-5xl text-3xl;
  }
  .heading-3 {
    @apply p-2 font-bold lg:text-3xl text-2xl;
  }
  .heading-4 {
    @apply p-2 font-bold lg:text-3xl text-2xl;
  }
  .heading-5 {
    @apply p-2 font-semibold lg:text-2xl text-xl;
  }
  .heading-6 {
    @apply p-2 font-semibold lg:text-lg text-lg;
  }
  /* Description */
  .description {
    @apply text-sm text-slate-800;
  }
  /* paragraphs */
  .paragraph-xs {
    @apply text-sm font-normal text-neutral-600;
  }
  .paragraph-sm {
    @apply text-base font-normal text-neutral-600;
  }
  .paragraph-md {
    @apply text-lg font-medium text-neutral-600;
  }
  .paragraph-lg {
    @apply text-xl font-semibold text-neutral-800;
  }
  .paragraph-xl {
    @apply text-2xl font-semibold text-neutral-950;
  }
  .paragraph-2xl {
    @apply text-3xl font-bold text-neutral-950;
  }

  /* button */
  .btn-primary {
    @apply bg-primary text-white rounded-md px-4 py-3 focus:ring-4 focus:ring-blue-300 transition-all duration-200 disabled:cursor-not-allowed;
  }
  .btn-secondary {
    @apply inline-block px-6 py-2 rounded-md text-white bg-gray-500 hover:bg-gray-600 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-success {
    @apply inline-block px-6 py-2 rounded-md text-white bg-green-500 hover:bg-green-600 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-danger {
    @apply inline-block px-6 py-2 rounded-md text-white bg-red-500 hover:bg-red-600 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-warning {
    @apply inline-block px-6 py-2 rounded-md text-white bg-orange-400 hover:bg-orange-500 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-info {
    @apply inline-block px-6 py-2 rounded-md text-white bg-cyan-500 hover:bg-cyan-600 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-light {
    @apply inline-block px-6 py-2 rounded-md text-black bg-gray-200 hover:bg-gray-300 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  .btn-dark {
    @apply inline-block px-6 py-2 rounded-md text-white bg-gray-800 hover:bg-gray-700 hover:scale-105 transition-[transform,_colors] duration-300;
  }
  /* spinner */
  .spinner {
    @apply animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full;
  }
  /* form */
  .label {
    @apply text-neutral-500 text-sm font-light tracking-tighter;
  }
  .input {
    @apply block w-full rounded-md px-4 py-1 outline outline-1 outline-neutral-500/60 focus:outline-2 focus:outline-blue-500;
  }
  .select {
    @apply block w-full rounded-md px-4 py-[5px] outline outline-1 outline-neutral-500/60 focus:outline-2 focus:outline-blue-500;
  }
}

.textOver {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45%;
}



